@using Dubravica.Report.Models
@model ReportModel
<script>
    /*$(document).ready(function () {
        var startDateTimes = document.getElementsByClassName("startDT");
        var endDateTimes = document.getElementsByClassName("endDT");
        for (var i = 0; i < startDateTimes.length; i++) {
            console.log(endDateTimes[i].innerHTML);
            endDateTimes[i].innerHTML = getLocalDateTime(startDateTimes[i].innerHTML);
        }
        for (var i = 0; i < endDateTimes.length; i++) {
            endDateTimes[i].innerHTML = getLocalDateTime(endDateTimes[i].innerHTML);
        }
    });

    function getLocalDateTime(date) {
        var date = new Date(date);
        var localDateTime = DateTime(date);
        console.log(date);
        console.log(localDateTime);
        return localDateTime;
    }*/
    function getBatch(id) {
        //var batchId = document.getElementById("batchid").textContent;
        console.log(id);
        //var recipeno = document.getElementById("recipeno").textContent;
        window.location = "/Report/getBatch?batchid=" + id; //+ "&recipeno=" + recipeno;
    }
</script>
@*<div class="table table-bordered thin-row">*@
<table class="table table-condensed table-bordered table-hover table-responsive">
    @{if (Model.Batches != null)
        {
            <tr>
                <!--<th style="width: 65px">Batch No.</th>
                <th style="width: 155px">Start</th>
                <th style="width: 155px">End</th>
                <th>Product</th>
                <th style="width: 55px;">Recipe</th>
                <th style="width: 150px">Differences</th> -->
                <th>Batch No.</th>
                <th>Start</th>
                <th>End</th>
                <th>Product</th>
                <th>Recipe</th>
                <th>Differences</th>
            </tr>
            int i = 0;
            foreach (Batch batch in Model.Batches)
            {
                @* to write ids *@
                <tr onclick="getBatch(@batch.Id)" style="cursor: pointer;">
                    <td id="BatchNo">@batch.Id</td>
                    <td id="startDT_@i">@batch.StartTime</td>
                    @if (batch.EndTime.Year < 2016) {
                        <td><b>Batch have no end yet</b></td>
                    }
                    else
                    {
                        <td id="endDT_@i">@batch.EndTime</td>
                    }
                    <td>@batch.RecipeName</td>
                    <td id="recipeno">@batch.RecipeNo</td>
                    @{ string title = ""; }
                    @if (batch.maxDiffAM != 0 || batch.minDiffAM != 0) { title += "Amount diff-" + "MAX: " + Math.Round((double)batch.maxDiffAM / 1000, 3) + "kg MIN: " + Math.Round((double)batch.minDiffAM / 1000, 3) + "kg \n"; }
                    @if (batch.maxDiffTemp != 0 || batch.minDiffTemp != 0) { title += "Temperature diff-" + "MAX: " + Math.Round((double)batch.maxDiffTemp / 10, 1) + "°C MIN: " + Math.Round((double)batch.minDiffTemp / 10, 2) + "°C \n"; }
                    @if (batch.maxDiffST != 0 || batch.minDiffST != 0) { title += "steptime diff- MAX: " + Math.Round((double)batch.maxDiffST / 60, 2) + "min MIN: " + Math.Round((double)batch.minDiffST / 60, 2) + "min \n"; }
                    @if (batch.maxDiffIST != 0 || batch.minDiffIST != 0) { title += "Inter step time diff- MAX: " + Math.Round((double)batch.maxDiffIST / 60, 2) + "min MIN: " + Math.Round((double)batch.minDiffIST / 60, 2) + "min \n"; }
                    <td title="@title"><span><b>@batch.status</b></span></td>
                </tr>
                i++;
            }
        }
    }
    @*<tr>
            <td>1235</td>
            <td>11.02.2017 08:00</td>
            <td>11.02.2017 08:35</td>
            <td>Receptura 1</td>
            <td>1</td>
            <td>(<span class="status-ok">am</span>)(<span class="status-ok">t</span>)(<span class="status-err">st</span>)(<span class="status-err">ist</span>)</td>
        </tr>*@
    @*<tr>
            <td>1238</td>
            <td>12.02.2017 08:00</td>
            <td>12.02.2017 09:15</td>
            <td>Receptura 3</td>
            <td>1</td>
            <td>(<span class="status-ok">am</span>)(<span class="status-ok">t</span>)(<span class="status-err">st</span>)(<span class="status-ok">ist</span>)</td>
        </tr>
        <tr class="col-red">
            <td>1246</td>
            <td>11.02. 08:00</td>
            <td>26.02. 08:00</td>
            <td>Receptura 2</td>
            <td>1</td>
            <td>(<span class="status-ok">am</span>)(<span class="status-err">t</span>)(<span class="status-ok">st</span>)(<span class="status-err">ist</span>)</td>
        </tr>*@
</table>
<script>
    function DateTime(date) {
        var offset = date.getTimezoneOffset();
        //console.log(offset);
        var offseted_miliseconds = date.getTime() - (offset * 60000);
        var DateTime = new Date(offseted_miliseconds);
        var localDateTime = DateTime.toLocaleString();
        return localDateTime;
    }
</script>
@for(int i=0; i < Model.Batches.Count;i++) { 
    <script>
            var year = @Model.Batches[i].StartTime.Year;
            var month = @Model.Batches[i].StartTime.Month;
            var day = @Model.Batches[i].StartTime.Day;
            var hour = @Model.Batches[i].StartTime.Hour;
            var minute = @Model.Batches[i].StartTime.Minute;
            var second = @Model.Batches[i].StartTime.Second;
            var date = new Date(year, month - 1, day, hour, minute, second, 0);
            var localDateTime = DateTime(date);
            document.getElementById("startDT_" + "@i").innerHTML = localDateTime;
    </script>

    if (Model.Batches[i].EndTime.Year < 2016) {
        <script>
            var yearExp = @Model.Batches[i].EndTime.Year;
            var monthExp = @Model.Batches[i].EndTime.Month;
            var dayExp = @Model.Batches[i].EndTime.Day;
            var hourExp = @Model.Batches[i].EndTime.Hour;
            var minuteExp = @Model.Batches[i].EndTime.Minute;
            var secondExp = @Model.Batches[i].EndTime.Second;
            var expDate = new Date(yearExp, monthExp - 1, dayExp, hourExp, minuteExp, secondExp, 0);

            var localExpDateTime = DateTime(expDate);
            document.getElementById("endDT_" + "@i").innerHTML = localExpDateTime;
        </script>
    }
}
@*</div>*@

